<div>
    <h1>Log In</h1>
</div>
<div>
    <form action="" method="post">
       Email: <input type="text" name="email">
        Password:<input type="password" name="password">
        <input type="submit" value="iniciar sesión">

    </form><br><br>
    <a href="/sessions/login-github"><button>GitHub</button></a>

</div>

<h2>Login con JWT</h2>

<form action="/jwt/login" method="post">

    Email: <input type="text" name="email" id="email">
    Password: <input type="text" name="password" id="password">
    <button type="button" id="login">LogIn</button>
    <button type="button" id="user">Que usuario soy</button>

</form>


<script src="/js/jwtFront.js"></script>